<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>arithmetic operators</title>
</head>
<body ng-app>
    <table border="1">
        <tr>
            <th width="120px"><input type="number" ng-model="num1"></th>
            <th width="120px"><input type="number" ng-model="num2"></th>
            <th width="120px">{{num1+num2}}</th>
        </tr>
        <tr>
            <th width="120px"><input type="number" ng-model="n1"></th>
            <th width="120px"><input type="number" ng-model="n2"></th>
            <th width="120px">{{n1-n2}}</th>
        </tr>
    </table>
</body>
</html>